[submodule "seqan-library-2.4.0/seqan"]
	path = seqan-library-2.4.0/seqan
	url = https://github.com/seqan/seqan.git
[submodule "gerbil"]
	path = gerbil
	url = https://github.com/QiZhou1512/gerbil.git
