<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Labels</key>
	<string>Distribution of the matches in the genome
POSITION IN THE GENOME
GroupID
Group10 vs Pos10
Group20 vs Pos20
Group30 vs Pos30
Group40 vs Pos40
Group50 vs Pos50
Group60 vs Pos60
Group70 vs Pos70
Group80 vs Pos80
Group90 vs Pos90
Group100 vs Pos100
</string>
	<key>Text</key>
	<string></string>
</dict>
</plist>
